body {
  text-align: center;
}

#canvasOutput {
  border: 5px solid gold;
  border-radius: 10px;
}

#startButton {
  display: flex;
  margin: auto;

  font-size: 1.5rem;
  width: fit-content;
  border-radius: 15px;

  color: darkred;
  background-color: lightblue;
}

#startButton:hover {
  cursor: grab;
}

#startButton:active {
  background-color: lightsteelblue;
}

/* HIDE THE INPUT VIDEO FEED
#videoInput {
  display: none;
}*/
